@import "tailwindcss";

:root {
  --background: #F1ECE6; 
  --foreground: #171717;
}


@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


@layer utilities {
  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.font-clash {
  font-family: 'Clash Display', sans-serif;
}
@media (max-width: 1330px) {
  .hide-at-1330 {
    display: none !important;
  }

}
@media (min-width: 1500px) {
  .ml-56-at-1400 {
    margin-left: 14rem; /* Tailwind's ml-56 = 224px = 14rem */
  }
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
